:root{
    --topOffsetInBoard:6.1%;
    --leftOffsetInBoard:4.5%;
}
.image-bgd{
    width:80%;
    height:5em;
    background-color:white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    border:solid black;
    border-radius:10em;
    box-shadow:0.1em 0.1em 0.4em 0.002em  black;
    margin:1em 0 1em;
    transition: background-color .3s;
}
.info{
    transition: background-color .3s;
    text-align: center;
    letter-spacing: 0;
    font-weight: 200;
    background-color: rgb(0, 0, 0);
}
.imgSizes{
    
    width:60%;
}
.infoImgSize{
    height: 80%;
    width:60%;
    object-fit: contain;
}
body{
    margin:0;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5em;
}
header{
    text-align:center;
}
#container{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr;
    grid-template-areas: "black-color board white-color";
    background-image:linear-gradient(90deg,#65ceff, #00b0ff);
    min-height: 100vh;
    height: max-content;
    background-size: cover;
    overflow: auto;
}
#whiteCharacters{
    color:white;

    display: flex;
    flex-direction: column;
    align-items:center;
    grid-area: white-color;
    justify-content: center;
}
#board{


    color:white;
    font-size: 1.5em;
    display:flex;
    flex-direction: column;
    align-items: center;
    grid-area: board;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(max-content, auto)) 1fr minmax(max-content, auto);
}
#blackCharacters{
    color:white;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    grid-area: black-color;
}

#zero{
    width:0;
}
#time{
    font-size: 0.7em;
    display:flex;
    margin-bottom: 1rem;
    flex-direction: column;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
}
#chessBoard{
    width:50%;
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
#chessBoard > div > img{

    width:100%;
    height: 100%;
    object-fit: cover;
}
#area{
    height: 100%;
    width:100%;
    align-items: center;
    display:flex;
    justify-content: center;
}
.board{
    box-shadow:0.1em 0.1em 0.4em 0.002em  black;
    position: relative;
    width:100%;

    display: table;
    height: fit-content;
}
#playSection{
    position: absolute;
    top:var(--topOffsetInBoard);
    left:var(--leftOffsetInBoard);
    display:flex;
    flex-wrap: wrap;
    width:calc(100% - (var(--leftOffsetInBoard) * 2));
    height:calc(100% - (var(--topOffsetInBoard) * 2));
    justify-content: start;
}
.boxes{
    width: calc(100% / 8);
    height: calc(100% / 8);
    object-fit: contain;
}
.boxes >img{
    width:50%;
    object-fit: contain;
}
.centered{
    display:flex;
    justify-content: center;
    align-items: center;
}
#removedBlack{
    height: 100%;
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}
#removedWhite{
    height: 100%;
    width:20%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
 
}
#social{
    margin-top:0.5em;
    width:100%;
    height:2.5em;
    display:flex;
    justify-content: center;

    align-items: center;
    /* background-color: #346981; */

}
.imageCont{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 1em;
}
.roundImage{
    
    width:1.5em;
}
.highlight{
    background-image: radial-gradient(pink, rgb(197, 113, 127));
}
.outside_size{
    width:20%;
}
.ended{
    margin-top:5em;
    margin-bottom:10em;
    color:black;
    background-color: white;
    /* box-shadow:0.1em 0.1em 0.2em 0.002em  black; */
    height:5.3em;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 2em; */
}
.button{
 
    padding:0.6em 1.5em 0.6em 1.5em;
    /* box-shadow:0.1em 0.1em 0.2em 0.002em  black; */
    border-radius: 1em;
    font-family:inherit;

    font-size:0.8em;
    border:none;
 
}
@media (max-width:1000px) {
    #container{
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "board board"
                            "black-color white-color";
        overflow: hidden;
    }

    .image-bgd{
        width:50%;}
    
}
@media (max-device-width:500px) {
    #container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 100vh auto;
        grid-template-areas: "board board"
                            "black-color white-color";
        overflow: hidden;
    }
}